body, ul, li, p {
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
    list-style: none;
    font-family: Arial;

}

a {
    color: white;
    text-decoration: none;
}

h1 {
    color: black;
    text-align: center;
}


img {
    max-width: 100%;
    display: block;
}

.header {
    background-color: rgba(12, 14, 12, 0.933);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.menu {
    display: flex;
}
.menu li {
    margin: 10px;
}
.menu li a {
    display: block;
    padding: 10px;

}
.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}
.flex > div {
    flex: 1 1 200px;
    margin: 10px;
}